.header {
    text-align: center;
    color: mediumblue;
}
.crystals { 
    display: flex;
    align-content: center;    
    border: 2px;
}

.container {
    margin: 50px;
    text-align: center;
}
.col {
    margin: 1px;

}

 h2{ 
     text-align: left;
    margin-left: 50px;
 }
 body {
     background-color: lightblue;
     background-blend-mode: darken;
 }
 .row {
     margin-left: 15px;
 }

 .row img {
    height: 100px;
    width: 100px;
    margin: 10px;
 }